.test
  = "#{session[:user]["name"]}"
.test
  = "#{session[:user]["name_kana"]}"
.test
  = "#{session[:user]["email"]}"
.test
  = "#{session[:user]["password"]}"

.test
  = form_with model:@user, url:users_sign_up_final_path, local: true do |f|
    =f.submit "登録"



