= form_with model: @user, url: users_sign_up_step2_path, method: :get, local: true do |f|
  .form-items
    .form__child-items.form-group.col-md-7
      %label.form__child-name
        氏名
      = f.text_field :name, class: "form-control"
    .form__child-items.form-group.col-md-7
      %label.form__child-kana
        氏名(カナ)
      = f.text_field :name_kana, class: "form-control"
    .form__child-items.form-group.col-md-7
      %label.form__child-mail
        メールアドレス
      = f.email_field :email, class: "form-control"
    .form__child-items.form-group.col-md-6
      %label.form__child-password
        パスワード
      = f.password_field :password, class: "form-control"
    %button.btn
      =f.submit "次へ"
