= javascript_pack_tag 'test','data-turbolinks-track': 'reload'
.stock-wrapper
  = render "shared/header-main"
  .stockIndex
    %h1.title
      チケット在庫一覧
    .stockIndex-list
      .StockIndex-inner
        %table.stockList
          %tr.stockList__header
            %th.stockList__child-header 試合日
            %th.stockList__child-header 対戦相手
            %th.stockList__child-header 席種
            %th.stockList__child-header 金額
            %th.stockList__child-header 在庫量
          - @stocks.each do |stock|
            %tr.stockList__data
              %td.stockList__child-date
                = l stock.schedule.match_date
              %td.stockList__child-opponent
                = stock.schedule.opponent
              %td.stockList__child-grade
                = stock.grade
              %td.stockList__child-price
                = stock.price
              %td.stockList__child-remain
                = stock.remain
              %td.stockList__child-links
                = link_to "編集", edit_stock_path(stock), class: 'btn btn-primary stockList__child-edit'
                = link_to "削除", stock_path(stock), method: :delete, data: {confirm: "本当に削除しますか？"}, class: 'btn btn-dark stockList__child-delete'
  #hello
    %app
    {{message}}

