.schedule-wrapper
  = render "shared/header-main"
  = render "shared/navbar"
  .scheduleMain
    .ScheduleMain_index
      %h4 スケジュール
    .ScheduleMain_month
      .ScheduleMain_month-calendar
        = month_calendar(events: @schedules) do |date, scheudles|
          = date.day
          - scheudles.each do |schedule|
            =link_to schedule_path(schedule) do
              .matchBox
                .matchBox_time
                  = schedule.start_time.strftime("%H:%M")
                .matchBox_opponent
                  = "VS #{schedule.opponent}"