.adminStock-wrapper
  = render "shared/header-main"
  = render "shared/navbar"
  .adminStock
    .adminStock_index
      %h4 在庫管理
    .adminStock_month
      .adminStock_month-calendar
        = month_calendar(events: @schedules) do |date, scheudles|
          = date.day
          - scheudles.each do |schedule|
            .matchBox
              .matchBox_time
                = schedule.start_time.strftime("%H:%M")
              .matchBox_opponent
                = "VS #{schedule.opponent}"
              .matchBox_links
                = link_to admin_schedule_stocks_path(schedule), class: "btn btn-sm btn-primary matchBox_links-edit " do
                  編集

