.myCredit
  .myCredit__data
    .myCredit__data--number
      ="**** **** **** " + @card_data.last4
    .myCredit__data--brand
      - if @card_data.brand == "Visa" then
        = icon('fab', 'cc-visa', class: 'brand')
      - elsif @card_data.brand == "MasterCard" then
        = icon('fab', 'cc-mastercard', class: 'brand')
      - elsif @card_data.brand == "JCB" then
        = icon('fab', 'cc-jcb', class: 'brand')
      - elsif @card_data.brand == "American Express" then
        = icon('fab', 'cc-amex',class: 'brand')
      - elsif @card_data.brand == "Diners Club" then
        = icon('fab', 'cc-diners-club',class: 'brand')
      - elsif @card_data.brand == "Discover" then
        = icon('fab', 'cc-discover',class: 'brand')
      - else
        = icon('fal', 'credit-card',class: 'brand')
    .myCredit__data--exp
      %label 有効期限(MM/YY)
      - month = @card_data.exp_month
      - exp_year = @card_data.exp_year.to_s.slice(2,3)
      - if month < 10 then
        = "0" + month.to_s + "/" + exp_year
      - else
        = month.to_s + "/" + exp_year
  %button.btn.myCredit__links
    - if @default_card == @card_data.id
      %span.btn.btn-danger 使用中
      = link_to edit_card_path(@card), class: "btn btn-secondary myCredit__links--edit" do
        編集