= form_with model: [:admin, @schedule], class:'scheduleForm' do |f|
  .form-row
    .form-group.col-6
      %label 対戦日時
      = f.datetime_field :start_time, class: "form-control"
    .form-group.col-6
      %label 対戦相手
      = f.select :opponent,['チームA','チームB','チームC','チームD','チームE',], {prompt: '対戦相手を選んでください'}, {class:'form-control'}
  =f.fields_for :stocks do |i|
    .form-row
      .form-group.col-md-4
        %label 席種
        = i. select :grade, ['S','A','B','C'], {prompt: '席種を選んでください'}, {class: 'form-control'}
      .form-group.col-md-4
        %label 金額
        = i.text_field :price, class: 'form-control'
      .form-group.col-md-4
        %label 設定座席数
        = i.text_field :remain, class: 'form-control'
  = f.submit "作成"