.adminSchedule-wrapper
  = render "shared/header-main"
  = render "shared/navbar"
  .editSchedule
    %h4.editSchedule_index
      スケジュール編集
    .editSchedule_inner
      = form_with model: [:admin, @schedule], class:'scheduleForm' do |f|
        %table.table.table-borderless
          %thread
            %tr
              %th{scope:"col"} 対戦日時
              %th{scope:"col"} 対戦相手
          %tbody
            %tr
              %td
                = f.datetime_field :start_time, class: "form-control"
              %td
                = f.select :opponent,['チームA','チームB','チームC','チームD','チームE',], {prompt: '対戦相手を選んでください'}, {class:'form-control'}
            %tr
              %td
                =link_to "" do
                  在庫編集はこちらから
        = f.submit "更新", class: "btn btn-sm btn-primary"
        =link_to admin_schedule_path, method: :delete, class: "btn btn-sm btn-dark" do
          スケジュールを削除する