.adminSchedule-wrapper
  = render "shared/header-main"
  = render "shared/navbar"
  .editSchedule
    %h4.editSchedule_index
      スケジュール編集
    .editSchedule_inner
      = form_with model: [:admin, @schedule_form], class:'scheduleForm' do |f|
        .form-row
          .form-group.col-6
            %label 対戦日時
            = f.datetime_field :start_time, class: "form-control"
          .form-group.col-6
            %label 対戦相手
            = f.select :opponent,['チームA','チームB','チームC','チームD','チームE',], {prompt: '対戦相手を選んでください'}, {class:'form-control'}
          = f.submit "更新"