.adminSchedule-wrapper
  = render "shared/header-main"
  = render "shared/navbar"
  .adminSchedule
    .adminSchedule_index
      %h4 スケジュール
    .adminSchedule_month
      .adminSchedule_month-link
        =link_to new_admin_schedule_path do
          スケジュールを追加する
      .adminSchedule_month-calendar
        = month_calendar(events: @schedules) do |date, scheudles|
          = date.day
          - scheudles.each do |schedule|
            .matchBox
              .matchBox_time
                = schedule.start_time.strftime("%H:%M")
              .matchBox_opponent
                = "VS #{schedule.opponent}"
              .matchBox_links
                = link_to edit_admin_schedule_path(schedule), class: "btn btn-sm btn-primary matchBox_links-edit " do
                  編集
                = link_to admin_schedule_path(schedule), method: :delete, class: "btn btn-sm btn-danger" do
                  削除

