.adminSchedule-wrapper
  = render "shared/header-main"
  = render "shared/navbar"
  .newSchedule
    %h4.newSchedule_index
      スケジュール追加
    .newSchedule_inner
      .newSchedule_own
        %p スケジュール・チケット在庫登録
        = form_with model: [:admin, @schedule_form], url: admin_schedules_path, class:'scheduleForm' do |f|
          %table.table.table-borderless
            %thread
              %tr
                %th{scope:"col"} 対戦日時
                %th{scope:"col"} 対戦相手
            %tbody
              %tr
                %td
                  = f.datetime_field :start_time, class: "form-control"
                %td
                  = f.select :opponent,['チームA','チームB','チームC','チームD','チームE',], {prompt: '対戦相手を選んでください'}, {class:'form-control'}
          %table.table.table-borderless
            %thread
              %tr
                %th{scope:"col"} 席種
                %th{scope:"col"} 金額
                %th{scope:"col"} チケット在庫数
            %tbody
              =f.fields_for :stocks do |i|
                %tr
                  %td
                    = i. select :grade, ['S','A','B','C'], {prompt: '席種を選んでください'}, {class: 'form-control'}
                  %td
                    = i.text_field :price, class: 'form-control'
                  %td
                    = i.text_field :remain, class: 'form-control'
          = f.submit class: "btn btn-dark"
      .newSchedule_file
        %p スケジュール一括登録
        =form_with url:import_admin_schedules_path, class: "uploadForm" do |f|
          .form-group
            = f.file_field :file, class: "form-control-file", accept: '.csv'
          = f.submit class: "btn btn-dark"
      .newSchedule_link
        = link_to admin_schedules_path do
          スケジュール一覧へ戻る